.toastsContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 400px;
  }
.toast-message {
  background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    opacity: 80%;
    .toast-button {
      color: white;
    }
  }

  .success {
    color: white;
    background-color: #198754;
  }

  .warning {
    background-color: #FFC107;
    color: black
  }

  .danger {
    background-color: #DC3545;
    color: black
  }

  .info {
    background-color: #0DCAF0;
    color: black
  }