<form [formGroup]="typeForm" (ngSubmit)="apply()">
    <dsfr-form-fieldset>
        <dsfr-form-radio *fieldsetElement formControlName="type" [name]="'type'" [inline]="false"
            [required]="true" [legendRegular]="true" [legend]="'Sélectionnez Crédit ou Débit'"
            [options]="[{label: 'Crédit', value: 'credit'}, {label: 'Débit', value: 'debit'}]" [small]="false"></dsfr-form-radio>
        <dsfr-buttons-group *fieldsetElement>
            <dsfr-button type="submit" label="Appliquer" class="dsfr-button fr-mt-4v" variant="primary"
                ariaLabel="Appliquer" [disabled]="typeForm.invalid" ariaControls="filterModal"></dsfr-button>
        </dsfr-buttons-group>
    </dsfr-form-fieldset>