<main>
    <div class="fr-container fr-py-12v">
        <div class="fr-grid-row fr-grid-row--gutters">
            <section *ngIf="user" class="fr-mb-8v">
                <h2>Informations</h2>
                <div class="fr-grid-row">
                    <div class="fr-col-4 fr-mb-1w">Prénom :</div>
                    <div class="fr-col-8">{{user.first}}</div>
                    <div class="fr-col-4 fr-mb-1w">Nom de famille :</div>
                    <div class="fr-col-8">{{user.last}}</div>
                    <div class="fr-col-4 fr-mb-1w">Email :</div>
                    <div class="fr-col-8">{{user.email}}</div>
                    <div class="fr-col-4 fr-mb-1w">Date de création :</div>
                    <div class="fr-col-8">{{String(user.created) | date}}</div>
                    <div class="fr-col-4">Solde :</div>
                    <app-price [price]="userSum" class="fr-col-8"/>
                </div>
            </section>
            <section *ngIf="user" >
                <h2>Transactions</h2>
                <app-transactions-table [userId]="user.id"/>
            </section>
        </div>
    </div>
</main>