<div class="fr-grid-row fr-mb-2v">
    <div class="fr-col-1">
        <dsfr-button label="Filtrez" ariaControls="filterModal"></dsfr-button>
    </div>
    <dsfr-tags-group class="fr-col-11">
        <dsfr-tag *ngFor="let item of activeFilters | keyvalue" [label]="item.value | filterNames" [mode]="'deletable'"  (tagSelect)="handleFilterDelete(item.key)" />
    </dsfr-tags-group>
</div>
<dsfr-modal dialogId="filterModal" titleModal="Filtre" [autoCloseOnAction]="false">
    <div class="fr-grid-row">
        <nav class="fr-sidemenu fr-sidemenu__inner fr-col-4">
            <div class="fr-sidemenu__title" id="fr-sidemenu-title">Sélectionnez un filtre</div>
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item"> <button class="fr-sidemenu__link" [class.active]="showFilter === 'type'" (click)="changeFilter('type')">Type</button>
                </li>
                <li class="fr-sidemenu__item"> <button class="fr-sidemenu__link" [class.active]="showFilter === 'benefactor'" (click)="changeFilter('benefactor')">Bénéficiaire</button>
                </li>
                <li class="fr-sidemenu__item"> <button class="fr-sidemenu__link" [class.active]="showFilter === 'creditor'" (click)="changeFilter('creditor')">Créditeur</button>
                </li>
                <li class="fr-sidemenu__item"> <button class="fr-sidemenu__link" [class.active]="showFilter === 'amount'" (click)="changeFilter('amount')">Montant</button>
                </li>
                <li class="fr-sidemenu__item"> <button class="fr-sidemenu__link" [class.active]="showFilter === 'date'" (click)="changeFilter('date')">Date</button>
                </li>
            </ul>
        </nav>
        <div class="fr-col-8 fr-pl-4v">
            <app-type-filtre *ngIf="showFilter === 'type'" [typeFilter]="activeFilters.get('type') ?? {type: 'type', value: {}}" (applyEvent)="handleFilterUpdate($event)"/>
            <app-user-filtre *ngIf="showFilter === 'benefactor'" [userFilter]="activeFilters.get('benefactor') ?? {type: 'benefactor', value: {}}" (applyEvent)="handleFilterUpdate($event)"/>
            <app-user-filtre *ngIf="showFilter === 'creditor'" [userFilter]="activeFilters.get('creditor') ?? {type: 'creditor', value: {}}" (applyEvent)="handleFilterUpdate($event)"/>
            <app-amount-filtre *ngIf="showFilter === 'amount'" [amountFilter]="activeFilters.get('amount') ?? {type: 'amount', value: {}}" (applyEvent)="handleFilterUpdate($event)"/>
            <app-date-filtre *ngIf="showFilter === 'date'" [dateFilter]="activeFilters.get('date') ?? {type: 'date', value: {}}" (applyEvent)="handleFilterUpdate($event)"/>
        </div>
    </div>
</dsfr-modal>