<div class="fr-container fr-container--fluid fr-mb-md-14v">
  <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
    <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
      <div class="fr-container fr-background-alt--grey fr-px-md-0 fr-pt-10v fr-pt-md-14v fr-pb-6v fr-pb-md-10v">
        <div class="fr-grid-row fr-grid-row--gutters fr-grid-row--center">
          <div class="fr-col-12 fr-col-md-9 fr-col-lg-8">
            <h1 class="fr-col-12">
              Créer un compte
            </h1>
            <dsfr-alert *ngIf="alert" [heading]="alert.heading" [message]="alert.message" [severity]="alert.severity" [closeControlLabel]="alert.closeControlLabel" [headingLevel]="'H3'" [ariaRoleValue]="'alert'" [size]="'MD'" [closeable]="true" >
            </dsfr-alert>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
              <dsfr-form-fieldset>
                <dsfr-form-email *fieldsetElement formControlName="email" label="Email" type="email" />
                <dsfr-form-password *fieldsetElement label="Mot de passe" formControlName="password"
                  [autocomplete]="'current-password'" />
                  <dsfr-form-password *fieldsetElement label="Confirmez le mot de passe" formControlName="confirmPassword"
                    [autocomplete]="'confirm-password'" />
                    <dsfr-form-input *fieldsetElement label="Prénom" formControlName="firstName" />
                    <dsfr-form-input *fieldsetElement label="Nom de famille" formControlName="lastName" />
                    <dsfr-form-input *fieldsetElement type="number" label="Age" formControlName="age" />
                  <dsfr-buttons-group *fieldsetElement>
                    <dsfr-button type="submit" label="Se connecter" class="dsfr-button fr-mt-4v" variant="primary" ariaLabel="Se connecter" [disabled]="registerForm.invalid"></dsfr-button>
                  </dsfr-buttons-group>
              </dsfr-form-fieldset>
            </form>
            <hr/>
            <h2 class="fr-h5">Vous avez un compte ?</h2>
            <dsfr-buttons-group class="test">
              <dsfr-button type="button" (click)="navigateSignIn()" label="Se connecter" type="button" variant="secondary" class="dsfr-button"
                    aria-label="Se Connecter"></dsfr-button>
            </dsfr-buttons-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>